<!-- อธิบายเกี่ยวกับตัวเอง รูป ชื่อนามสกุล ประวัติการศึกษา สิ่งที่เราสนใจ -->
<!-- สิ่งที่อยากให้ใช้ v-containner, v-row, v-col, v-img, v-table,v-avartar,...อยากใส่อะไรก็เอามา... -->
<script setup lang="ts">
import ProfileCream from "@/components/ProfileCream.vue";
import { ref } from "vue";
const myList = ref([
  {
    name: "Taking a photo",
    img: "https://i.pinimg.com/564x/5c/ab/ff/5cabff608939487991267e9cb27a7a68.jpg",
  },
  {
    name: "Listen to music",
    img: "https://i.pinimg.com/564x/6c/ca/ae/6ccaae6c4399d25c54774d97ef6cd68b.jpg",
  },
  {
    name: "Read a books",
    img: "https://i.pinimg.com/564x/df/bb/8e/dfbb8e256c5f6bbde474975c71a9b20c.jpg",
    rating: 14,
  },
]);
</script>

<template>
  <v-container>
    <v-row class="justify-left">
      <v-col>
        <v-card max-width="450" variant="outlined">
          <v-img
            src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/242667750_2984271771827270_4103995482450559598_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGQnlIsrYBtiBtact5IXLq-PA-OCsU1KtI8D44KxTUq0rnqoLRftd-geDfPpugt9hV3yp0jeo4JJpOwirAiLDb8&_nc_ohc=K19LXyuvPNYAX9atpvi&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfDhrqXSiF0wFL0wW2dYvYTh5I3rTwTFARPCUoXl0DV_Ig&oe=639F1327"
            height="350px"
            cover
          />

          <v-card-title class="font-weight-bold text-h4 mb-1">
            Pornchitar Sarsai
          </v-card-title>

          <v-card-subtitle>
            My name is Pornchitar Sarsai. You can call me Cream.
          </v-card-subtitle>
          <v-card-subtitle>
            I’m 20 years old. My birthday is the 26th of September 2002.
          </v-card-subtitle>
          <v-card-subtitle>
            I’m a student at Burapha University.
          </v-card-subtitle>
        </v-card>
      </v-col>
      <v-table>
        <thead>
          <tr>
            <div class="d-flexjustify-space-around">
              <v-avatar
                color="info"
                size="100"
                class="font-weight-bold text-h7 mb-1"
              >
                Interested in
              </v-avatar>
            </div>
          </tr>
          <tr>
            <v-card direction="horizontal">
              <v-container fluid>
                <v-row dense>
                  <v-col v-for="(item, index) of myList" :key="index">
                    <ProfileCream :name="item.name" :img="item.img">
                    </ProfileCream>
                    <v-card class="mx-auto" max-width="344" variant="outlined">
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </tr>
        </thead>
      </v-table>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
      <v-col>
        <v-table>
          <thead>
            <tr>
              <v-row class="justify-right">
                <!-- <v-card width="900" height="250"> -->
                <v-card-text>
                  <div class="font-weight-bold text-h3 mb-1">Education</div>

                  <v-timeline direction="horizontal" line-inset="6">
                    <v-timeline-item>
                      <template v-slot:opposite> โรงเรียนเทวรักษ์</template>
                      ระดับชั้นอนุบาล1-3
                    </v-timeline-item>

                    <v-timeline-item>
                      <template v-slot:opposite>
                        ระดับชั้นประถมศึกษาปีที่1-6
                      </template>
                      โรงเรียนเทวรักษ์
                    </v-timeline-item>

                    <v-timeline-item>
                      <template v-slot:opposite>
                        โรงเรียนปราจิณราษฎรอำรุง
                      </template>
                      ระดับชั้นมัธยมศึกษาปีที่1-3
                    </v-timeline-item>
                    <v-timeline-item>
                      <template v-slot:opposite>
                        ระดับชั้นมัธยมศึกษาปีที่4-6
                      </template>
                      โรงเรียนปราจิณราษฎรอำรุง
                    </v-timeline-item>
                    <v-timeline-item>
                      <template v-slot:opposite> มหาวิทยาลัยบูรพา</template>
                      ระดับมหาวิทยาลัย
                    </v-timeline-item>
                  </v-timeline>
                </v-card-text>
                <!-- </v-card> -->
              </v-row>
            </tr>
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
