<script setup lang="ts">
import { mdiHeart, mdiBookmark, mdiShareVariant } from "@mdi/js";
const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  img: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img
      :src="props.img"
      class="align-end"
      gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
      height="200px"
      cover
    ></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
      </div>
    </v-card-item>

    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn color="surface-variant" :icon="mdiHeart"></v-btn>

      <v-btn color="surface-variant" :icon="mdiBookmark"></v-btn>

      <v-btn color="surface-variant" :icon="mdiShareVariant"></v-btn>
    </v-card-actions>
  </v-card>
</template>
